<div class="app-view-project-analyze ng-cloak">

    <div class="row panel-body">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#building">建筑</a></li>
            <li><a data-toggle="tab" href="#socities">社会属性</a></li>
        </ul>
        <div class="tab-content">
            <div ng-controller="project.analyze.building as building" class="tab-pane clearfix active" id="building">

                <div class="row">

                    <div class="col-sm-4">
                        <div class="row">
                            <div class="panel-heading"><span class="subTitle">建筑能耗收入</span></div>
                            <div class="panel-body">
                                <div class="subContent text-center">

                                    <div class="panel-body btn-group">
                                        <a class="btn btn-lg styleAButton" ng-repeat="(key,val) in building.timetype" ng-class="{styleAButtonActive:building.timetype_current===key}" ng-click="building.timetypeChange(key)" ng-bind="val"></a>
                                    </div>

                                    <div class="panel-body">
                                        <div class="scroll-pane first-list" jscrollpane>
                                            <div class="media" ng-repeat="(key,item) in building.firstLevel">
                                                <div class="media-left">
                                                    <span class="badge badge-primary">{{item.consumption.toFixed(0)}}kWh</span>
                                                </div>
                                                <div class="media-body">
                                                    <div>{{item.name}}</div>
                                                </div>
                                                <div class="media-right media-middle">
                                                    ￥{{item.cost.toFixed(0)}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-8 content-right">
                        <div class="row">
                            <div class="panel-heading"><span class="subTitle">能耗收入比</span></div>
                            <div class="panel-body">

                                <div class="subContent clearfix">

                                    <div class="row  second-chart">
                                        <div class="col-sm-4">
                                            <div class="media">
                                                <div class="media-body">
                                                    <highcharts class="highcharts-panel text-center" config="building.consumptionSameTerm"></highcharts>
                                                </div>
                                                <div class="media-right media-middle">
                                                    <div class="consumptionPerAreaPrime">
                                                        {{building.sumOfNowConsumption}} KWh
                                                    </div>
                                                    <div class="consumptionPerAreaSub">
                                                        总能耗
                                                    </div>
                                                    <div class="seprator"></div>
                                                    <div class="incomeTargetPeriodPrime">
                                                        {{building.sumOfYoyConsumption}} kWh
                                                    </div>
                                                    <div class="incomeTargetPeriodSub">
                                                        同期能耗
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="media">
                                                <div class="media-body">
                                                    <highcharts class="highcharts-panel text-center" config="building.consumptionTrend"></highcharts>
                                                </div>
                                                <div class="media-right media-middle">
                                                    <div class="consumptionPerAreaPrime">
                                                        {{building.sumOfNowConsumption}} KWh
                                                    </div>
                                                    <div class="consumptionPerAreaSub">
                                                        总能耗
                                                    </div>
                                                    <div class="seprator"></div>
                                                    <div class="incomeTargetPeriodPrime">
                                                        {{building.budgetIndex}} kWh
                                                    </div>
                                                    <div class="incomeTargetPeriodSub">
                                                        预算指标
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="media">
                                                <div class="media-body">
                                                    <highcharts class="highcharts-panel text-center" config="building.firstLevelIncome"></highcharts>
                                                </div>
                                                <div class="media-right media-middle">
                                                    <div class="consumptionPerAreaPrime">
                                                        {{building.sumOfNowConsumption}} KWh
                                                    </div>
                                                    <div class="consumptionPerAreaSub">
                                                        总能耗
                                                    </div>
                                                    <div class="seprator"></div>
                                                    <div class="incomeTargetPeriodPrime">
                                                        {{building.firstLevelTotalIncome}} 元
                                                    </div>
                                                    <div class="incomeTargetPeriodSub">
                                                        收入
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="row text-center">
                                            <div class="panel-heading">
                                                <table class="table second-list-head">
                                                    <thead>
                                                        <tr>
                                                            <th style="width:100px;">能耗名称</th>
                                                            <th>总用量</th>
                                                            <th style="width:140px;">总用量比</th>
                                                            <th style="width:140px;">同期用量</th>
                                                            <th style="width:140px;">同期比</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                            <div class="panel-body">

                                                <div class="scroll-pane second-list" jscrollpane>
                                                    <table class="table table-condensed">
                                                        <tbody>
                                                            <tr ng-repeat="item in building.secondLevel">
                                                                <td style="width:100px;">{{item.title}}</td>
                                                                <td>{{item.nowOfConsumption.toFixed(0)}} kWh</td>
                                                                <td style="width:140px;">{{ (item.nowOfConsumption/building.sumOfNowElectricConsumption*100).toFixed(2) }}%</td>
                                                                <td style="width:140px;">{{item.yoyOfConsumption || 0}} kWh</td>
                                                                <td style="width:140px;">{{item.youOfConsumption && building.sumOfYoyElectricConsumption>0 ? (item.yoyOfConsumption / (building.sumOfYoyElectricConsumption)*100).toFixed(2) : 0}}%</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-sm-12">
                    <div class="row subContent">
                        <div class="panel-heading"><span class="subTitle">能耗实时曲线图</span></div>
                        <div class="panel-body">

                            <highcharts class="highcharts-panel text-center" config="building.secondLevelChart"></highcharts>

                        </div>
                    </div>
                </div>

            </div>
            <div ng-controller="project.analyze.socities as socities" class="tab-pane clearfix" id="socities">

                <div class="row">

                    <div class="col-sm-4">
                        <div class="row">
                            <div class="panel-heading"><span class="subTitle">社会属性能耗收入</span></div>
                            <div class="panel-body">
                                <div class="subContent text-center">
                                    <div class="panel-body btn-group">
                                        <a class="btn btn-lg styleAButton styleAButtonActive">日</a>
                                        <a class="btn btn-lg styleAButton">周</a>
                                        <a class="btn btn-lg styleAButton">月</a>
                                        <a class="btn btn-lg styleAButton">年</a>
                                    </div>

                                    <div class="panel-body">
                                        <div class="scroll-pane first-list" jscrollpane>
                                            <div class="media" ng-repeat="item in socities.socitiesList">
                                                <div class="media-left">
                                                    <span class="badge badge-primary">{{ item.consumption.toFixed(0) }}kWh</span>
                                                </div>
                                                <div class="media-body">
                                                    <div>{{item.title}}</div>
                                                </div>
                                                <div class="media-right media-middle">
                                                    ￥{{item.cost.toFixed(0)}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-8 content-right">
                        <div class="row">
                            <div class="panel-heading"><span class="subTitle">能耗收入比</span></div>
                            <div class="panel-body">

                                <div class="subContent clearfix">

                                    <div class="row second-chart">
                                        <div class="col-sm-4">
                                            <div class="media">
                                                <div class="media-body">
                                                    <highcharts class="highcharts-panel text-center" config="socities.socityConsumptionSameTerm"></highcharts>
                                                </div>
                                                <div class="media-right media-middle">
                                                    <div class="consumptionPerAreaPrime">
                                                        {{socities.sumOfNowSocitySensorConsumption}} KWh
                                                    </div>
                                                    <div class="consumptionPerAreaSub">
                                                        总能耗
                                                    </div>
                                                    <div class="seprator"></div>
                                                    <div class="incomeTargetPeriodPrime">
                                                        {{socities.sumOfYoySocitySensorConsumption}} kWh
                                                    </div>
                                                    <div class="incomeTargetPeriodSub">
                                                        同期能耗
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="media">
                                                <div class="media-body">
                                                    <highcharts class="highcharts-panel text-center" config="socities.SocityElectricConsumptionChart"></highcharts>
                                                </div>
                                                <div class="media-right media-middle">
                                                    <div class="consumptionPerAreaPrime">
                                                        {{socities.sumOfNowSocityElectricConsumption.toFixed(0)}} KWh
                                                    </div>
                                                    <div class="consumptionPerAreaSub">
                                                        电总能耗
                                                    </div>
                                                    <div class="seprator"></div>
                                                    <div class="incomeTargetPeriodPrime">
                                                        {{socities.sumOfYoySocityElectricConsumption.toFixed(0)}} kWh
                                                    </div>
                                                    <div class="incomeTargetPeriodSub">
                                                        同期电能耗
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="media">
                                                <div class="media-body">
                                                    <highcharts class="highcharts-panel text-center" config="socities.SocityEnergyChart"></highcharts>
                                                </div>
                                                <div class="media-right media-middle">
                                                    <div class="consumptionPerAreaPrime">
                                                        {{socities.sumOfNowSocityEnergyConsumption}} {{socities.unitOfSocityEnergy}}
                                                    </div>
                                                    <div class="consumptionPerAreaSub">
                                                        {{socities.titleOfNowEnergyType}}
                                                    </div>
                                                    <div class="seprator"></div>
                                                    <div class="incomeTargetPeriodPrime">
                                                        {{socities.sumOfYoySocityEnergyConsumption}} {{socities.unitOfSocityEnergy}}
                                                    </div>
                                                    <div class="incomeTargetPeriodSub">
                                                        {{socities.titleOfYoyEnergyType}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="row text-center">
                                            <div class="panel-heading">
                                                <table class="table second-list-head">
                                                    <thead>
                                                        <tr>
                                                            <th style="width:80px;">社会属性</th>
                                                            <th style="width:70px;">水</th>
                                                            <th style="width:80px;">电</th>
                                                            <th style="width:70px;">气</th>
                                                            <th style="width:80px;">合计</th>
                                                            <th style="width:70px;">占比</th>
                                                            <th style="width:70px;">费用</th>
                                                            <th style="width:80px;">同期用量</th>
                                                            <th style="width:70px;">同期比</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                            <div class="panel-body">

                                                <div class="scroll-pane second-list" jscrollpane>
                                                    <table class="table table-condensed">
                                                        <tbody>
                                                            <tr ng-repeat="item in socities.viewOfSocitySensors">
                                                                <td style="width:80px;">{{item.title}}</td>
                                                                <td style="width:70px;">{{item.water.toFixed(2)}}</td>
                                                                <td style="width:80px;">{{item.electric.toFixed(2)}}</td>
                                                                <td style="width:70px;">{{item.gas.toFixed(2)}}</td>
                                                                <td style="width:80px;">{{item.consumption.toFixed(2)}}</td>
                                                                <td style="width:70px;">{{ (item.consumption/socities.sumOfNowSocitiesConsumption*100).toFixed(2) }}%</td>
                                                                <td style="width:70px;">{{item.cost.toFixed(0)}} 元</td>
                                                                <td style="width:80px;">{{item.yoyOfSocitiesConsumption || 0}} kWh</td>
                                                                <td style="width:70px;">{{item.yoyOfSocitiesConsumption && socities.sumOfYoySocitiesConsumption>0 ? (item.yoyOfSocitiesConsumption / (socities.sumOfYoySocitiesConsumption)*100).toFixed(2) : 0}}%</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-sm-12">
                    <div class="row subContent">
                        <div class="panel-heading"><span class="subTitle">能耗实时曲线图</span></div>
                        <div class="panel-body">

                            <highcharts class="highcharts-panel" config="socities.sensorChart"></highcharts>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>